<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hangfire.Core" version="1.6.0" targetFramework="net45" />
  <package id="ILMerge" version="2.14.1203" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>